<ul nz-menu [nzTheme]="setting?.theme || 'light'" [nzMode]="mode" [nzInlineCollapsed]="inlineCollapsed">
  <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: data }"></ng-container>
  <ng-template #menuTpl let-data>
    <ng-container *ngFor="let menu of data">
      <li
        *ngIf="!menu.children"
        nz-menu-item
        [nzPaddingLeft]="menu.level * 24"
      >
        <i nz-icon [nzType]="menu.icon" *ngIf="menu.icon"></i>
        <span class="nav-text">{{ menu.title }}</span>
      </li>
      <li
        *ngIf="menu.children"
        nz-submenu
        [nzPaddingLeft]="menu.level * 24"
        [nzTitle]="menu.title"
        [nzIcon]="menu.icon"
      >
        <ul>
          <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: menu.children }"></ng-container>
        </ul>
      </li>
    </ng-container>
  </ng-template>
</ul>
